.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: monospace;
  gap: 18px;
}

.main-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(213, 104, 104, 0.5);
  margin-top: 10px;
  padding: 15px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  gap: 10px;
}

.main-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.main-card:hover .card-btn button {
  background: #f06;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card-head span {
  display: flex;
  align-items: center;
}

.card-tittle {
  display: flex;
  font-size: 10px;
  color: #333;
}

.card-para {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  flex-grow: 2;
}

.card-btn {
  display: grid;
  margin-bottom: 8px;
}

.card-btn button {
  padding: 8px;
  font-family: monospace;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  background: #ffad00;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}
