.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 10px;
  background-color: white;
}

.nav-btn {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #ffad00;
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s, transform 0.5s;
}

.nav-btn:hover {
  background: #f06;
  transform: scale(1.05);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  font-size: 18px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffad00;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color:  #f06;
}

.nav-link svg {
  transition: transform 0.3s ease;
}

.nav-link:hover svg {
  transform: scale(1.1);
  color: #f06;
}

.nav-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav span {
  font-size: 18px;
  font-weight: 500;
}

.bi-person {
  color: #ffad00;
}